a:link {
	text-decoration: none;
}

a:hover {
	background-color: #8FD694;
}

body {
	margin-left: 100px;
	text-align: left;
	font-family: Garamond, serif;
	font-size: 16pt;
	background-image: linear-gradient(to bottom right, #8FD694, #7DBA84, #6F8F72);
	border-left: white dotted 6px;
	padding-left: 25px;
}

p, ul {
	color: #504B43;
}

figure img {
	width: 300pt;
	height: 300pt;
	margin-left: 200px;
}

figcaption {
	margin-left: 200px;
}

footer, footer nav {
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
